/* Structure */
.container{
  margin-top: 50px;
}
table {
  width: 100%;
  thead{
    tr{
      th{
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  tbody{
    tr{
      td{
        text-align: center;
        font-size: 1.3rem;
      }
    }
  }
}
.aprediz__filtar{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .input {
    width: 300px;
    height: 40px;
    line-height: 28px;
    font-size: 1.8rem;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;

    &::placeholder {
      font-size: 1.8rem;
      color: #9e9ea7;
    }
  }
}
@media screen and (min-width: 998px) {
  table {
    thead {
      tr {
        th {
          font-size: 2rem;
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 1.6rem;
        }
      }
    }
  }

}
