<section class="container col-lg-8 offset-3">
  <div class="row mt-5">
    <div class="col-lg-8 offset-lg-4 d-flex justify-content-end">
      <span *ngIf="votaciones.length == 0" class="alert alert-danger">
        Debe registrar una votacion Para poder Agregar un candidato
      </span>
    </div>
  </div>
  <div class="form">
    <picture>
      <img src="../../../../../../assets/img/logo-sena.png" alt="">
    </picture>
    <!--   -->
    <form *ngIf="votaciones.length != 0" class="form" [formGroup]="miForm" (ngSubmit)="onSubmit()">
      <div>
        <h2>Agregar Candidato</h2>
        <span>Formulario de registro de Candidatos</span>
      </div>
      <div class="form__mensaje mb-0" [ngClass]="estilo ? 'alert alert-success' : 'alert alert-danger'"
        *ngIf="resultado">
        <span>
          {{ mensaje | uppercase }}
        </span>
      </div>
      <ng-container *ngIf="loaders">
        <app-loaders></app-loaders>
      </ng-container>
      <div class="form__contenedor">
        <input type="number" placeholder="Ingresar tu id" formControlName="id">
      </div>
      <div class="form__contenedor-file">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-image"
          viewBox="0 0 16 16">
          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
          <path
            d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
        </svg>
        <input type="file" accept="image/*" formControlName="img">
      </div>
      <div class="form__contenedor">
        <select formControlName="votacion">
          <option [value]="item.name" *ngFor="let item of votaciones">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="form__contenedor">
        <textarea rows="6" placeholder="Ingrese sus propuestas" formControlName="propuesta"></textarea>
      </div>
      <button type="submit" [disabled]="miForm.invalid">
        Agregar Candidato
      </button>
    </form>
  </div>
</section>
