.header {
  width: 200px;
  max-height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 20;
  top: 0;
  transition: all 500ms ease-in;
  .menu{
    position: absolute;
    right: -20px;
    font-size: 2.5rem;
    color: white;
    color: black;
    border: 0;
    background-color: #a7c957;
  }
}
.abrir{
  margin-left: 0;
}
.cerrar{
  margin-left: -200px;
}
.header__picture {
  padding-top: 15px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;

  .header__picture-img {
    width: 90px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
  }
}
.header__cont{
  display: flex;
  flex-direction: column;
}
.header__nav-cont{
  display: flex;
  height: calc(100vh - 100px);
  flex-direction: column;
  justify-content: space-around;
}
.header__nav-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;

  .header__nav-li {

    a {
      display: inline-block;
      padding: 0.8rem 32px 0.8rem 50px;
      font-size: 1.6rem;
      color: black;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 200ms ease-in;
      position: relative;
      svg{
        position: absolute;
        top: 10px;
        left: 10px;
      }
      &:hover:not(.link__active){
        background-color: rgba(128, 128, 128, 0.153);
      }
    }
    button{
      width: 180px;
      padding: 0.8rem 50px;
      font-size: 1.6rem;
      color: black;
      background-color: transparent;
      border: 0;
      border-radius: 5px;
      text-align: start;
      transition: background-color 500ms ease-in;
      position: relative;
      svg{
        position: absolute;
        top: 10px;
        left: 10px;
      }
      &:hover{
        background-color: rgba(128, 128, 128, 0.153);
      }
    }
  }
}
.header__nav-ul .header__nav-li .link__active{
  background-color: #a7c957;
  color: white;
}
@media screen and (min-width: 998px) {
  .header {
    width: 240px;
    .menu{
      font-size: 2.5rem;
      color: white;
      display: none;
    }
  }
  .abrir{
    margin-left: 0;
  }
  .cerrar{
    margin-left: -240px;
  }
  .header__nav-ul {
    .header__nav-li {
      a {
        padding: 0.8rem 50px 0.8rem 50px;
        font-size: 1.8rem;
      }
        button{
        font-size: 1.8rem;
      }
    }
  }
}
