section.login{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.section__form{
  height: 70%;
  width: 100%;
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.form__text h2{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2.1rem;
}
.form__text span{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
}
picture.login{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #198754;
}
picture.login img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
form.login{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mensaje__container{
  padding: 0 60px;
  width: 100%;

  .mensaje{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #f8d7da;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem 0;
    color: #842029;
    border-radius: 10px;
  }
}

form.login .usuario{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.5rem;
}
form.login .clave{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.5rem;
}
form.login div label{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form.login div input{
  width: 100%;
  height: 40px;
  border: 1px solid #80808046;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
}
form.login button{
  height: 40px;
  border-radius: 5px;
  border: 0;
  background-color: #31572c;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  &:disabled{
    background-color: gray;
  }
}
@media screen and (min-width: 768px) {
  section.login{
      flex-direction: row;
  }
  .section__form{
      height: 100%;
  }
  picture.login{
      height: 70%;
      order: 2;
  }
  picture.login img{
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
}
