<app-header-admin></app-header-admin>

<app-sidebar-admin></app-sidebar-admin>

<section class="form container col-lg-8 offset-3">
  <picture>
    <img src="../../../../../../assets/img/logo-sena.png" alt="">
  </picture>
  <form class="form" [formGroup]="miForm" (ngSubmit)="onSubmit()">
    <div>
      <h2>Agregar Votacion</h2>
      <span>Formulario de Crear votaciones</span>
    </div>
    <div class="form__mensaje mb-0" [ngClass]="resultado ? 'alert alert-success' : 'alert alert-danger'" *ngIf="resultado">
      <span>
        {{ mensaje | uppercase }}
      </span>
    </div>
    <ng-container *ngIf="loaders">
      <app-loaders></app-loaders>
    </ng-container>
    <div class="form__contenedor">
      <input type="text" id="name" placeholder="Ingresar el nombre" formControlName="name">
    </div>
    <div class="form__contenedor">
      <input type="text" id="estado" placeholder="Ingresar el estado" formControlName="estado">
    </div>
    <div class="form__contenedor">
      <textarea rows="6" placeholder="Ingrese descripcion de la votacion" formControlName="descripcion"></textarea>
    </div>
    <button type="submit" [disabled]="miForm.invalid">
      Agregar Candidato
    </button>
  </form>
</section>
