<section class="form container col-lg-8 offset-3">
  <picture>
    <img src="../../../../../../assets/img/logo-sena.png" alt="">
  </picture>
  <form class="form" [formGroup]="miForm" (ngSubmit)="onSubmit()">
    <div>
      <h2>Agregar Votacion</h2>
      <span>Formulario de Crear votaciones</span>
    </div>
    <div class="form__mensaje mb-0" [ngClass]="estilo ? 'alert alert-success' : 'alert alert-danger'" *ngIf="resultado">
      <span>
        {{ mensaje | uppercase }}
      </span>
    </div>
    <ng-container *ngIf="loaders">
      <app-loaders></app-loaders>
    </ng-container>
    <div class="form__contenedor">
      <input type="text" id="name" placeholder="Nombre de Votacion" formControlName="name">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
      </svg>
      <ng-container *ngIf="miForm.get('name')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('name')?.touched && miForm.get('name')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
      </ng-container>
    </div>
    <!-- <div class="form__contenedor">
      <input type="text" id="estado" placeholder="Estado Votacion" formControlName="estado">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-battery-full" viewBox="0 0 16 16">
        <path d="M2 6h10v4H2V6z"/>
        <path d="M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h10zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z"/>
      </svg>
      <ng-container *ngIf="miForm.get('estado')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('estado')?.touched && miForm.get('estado')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
      </ng-container>
    </div> -->
    <div class="form__contenedor">
      <textarea rows="6" placeholder="Descripcion Votacion" formControlName="descripcion"></textarea>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
      viewBox="0 0 16 16">
      <path
        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
    </svg>
    <ng-container *ngIf="miForm.get('descripcion')?.invalid">
      <span class="text-danger" *ngIf="miForm.get('descripcion')?.touched && miForm.get('descripcion')?.hasError('required')">
        El campo no puede quedar vacio
      </span>
    </ng-container>
    </div>
    <button type="submit" [disabled]="miForm.invalid">
      Agregar Candidato
    </button>
  </form>
</section>
