<section class="form container">
  <picture>
    <img src="../../../../../../assets/img/logo-sena.png" alt="">
  </picture>
  <form class="forms" [formGroup]="miForm" (ngSubmit)="submit()">
    <div class="forms__text">
      <h2>Agregar Aprendiz</h2>
      <span>Formulario de registro de aprendiz</span>
    </div>
    <div class="form__mensaje mb-0" [ngClass]="estilo ? 'alert alert-success' : 'alert alert-danger'" *ngIf="resultado">
      <span>
        {{ mensaje | uppercase }}
      </span>
    </div>
    <ng-container *ngIf="loaders">
      <app-loaders></app-loaders>
    </ng-container>

    <div class="form__contenedor">
      <input type="text" id="ficha" placeholder="Ficha del programa" formControlName="ficha">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-123"
        viewBox="0 0 16 16">
        <path
          d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961h1.174Zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057h1.138Zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75v.96Z" />
      </svg>
      <ng-container *ngIf="miForm.get('ficha')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('ficha')?.touched && miForm.get('ficha')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
      </ng-container>
    </div>

    <div class="form__contenedor form__contenedor-anidado">
      <select formControlName="tipoDocumento">
        <option [value]="tipoDocumento" *ngFor="let tipoDocumento of tipoDocumento">
          {{ tipoDocumento }}
        </option>
      </select>
      <input type="number" id="name" placeholder="Documento de identificacion" formControlName="numeroDocumento">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-123"
        viewBox="0 0 16 16">
        <path
          d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961h1.174Zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057h1.138Zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75v.96Z" />
      </svg> -->
      <!-- <ng-container *ngIf="miForm.get('documento')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('documento')?.touched && miForm.get('documento')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
        <span class="text-danger" *ngIf="miForm.get('documento')?.touched && miForm.get('documento')?.hasError('maxLength')">
          El campo debe contener (7 caracteres)
        </span>
      </ng-container> -->
    </div>

    <div class="form__contenedor">
      <input type="text" id="name" placeholder="Nombre Programa" formControlName="programa">

      <ng-container *ngIf="miForm.get('programa')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('programa')?.touched && miForm.get('programa')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
      </ng-container>
    </div>

    <div class="form__contenedor">
      <input type="text" id="nombre" placeholder="Nombre Aprendiz" formControlName="nombre">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
        viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
      </svg>
      <ng-container *ngIf="miForm.get('nombre')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('nombre')?.touched && miForm.get('nombre')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
      </ng-container>
    </div>

    <div class="form__contenedor">
      <input type="text" id="apellido" placeholder="Apellido del Aprendiz" formControlName="apellido">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
        viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
      </svg>
      <ng-container *ngIf="miForm.get('apellido')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('apellido')?.touched && miForm.get('apellido')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
      </ng-container>
    </div>

    <div class="form__contenedor">
      <input type="text" id="celular" placeholder="Celular del Aprendiz" formControlName="celular">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-123"
        viewBox="0 0 16 16">
        <path
          d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961h1.174Zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057h1.138Zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75v.96Z" />
      </svg>
      <ng-container *ngIf="miForm.get('celular')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('celular')?.touched && miForm.get('celular')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
      </ng-container>
    </div>

    <div class="form__contenedor">
      <input type="text" id="correoElectronico" placeholder="example@.com" formControlName="correoElectronico">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
        viewBox="0 0 16 16">
        <path
          d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
      </svg>
      <ng-container *ngIf="miForm.get('correoElectronico')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('correoElectronico')?.touched && miForm.get('correoElectronico')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
        <span class="text-danger" *ngIf="miForm.get('correoElectronico')?.touched && miForm.get('correoElectronico')?.hasError('email')">
          El campo no es un email valido
        </span>
      </ng-container>
    </div>

    <div class="form__contenedor">
      <select formControlName="estado">
        <option [value]="estado" *ngFor="let estado of estadoAprendiz">
          {{ estado }}
        </option>
      </select>
      <ng-container *ngIf="miForm.get('estado')?.invalid">
        <span class="text-danger" *ngIf="miForm.get('estado')?.touched && miForm.get('estado')?.hasError('required')">
          El campo no puede quedar vacio
        </span>
      </ng-container>
    </div>
    <button type="submit" [disabled]="miForm.invalid">
      Agregar Usuario
    </button>
    <span class="form__terms">
      I accept terms & conditions
    </span>
  </form>
</section>
