header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 80px;

 }

.header__logo{
  display: flex;
  align-items: center;
  h1{
    font-size: 30px;
    width: 430px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0.7rem;
    border-right: 3px solid black;
    animation: dinamicText 2000ms alternate ease-in;
  }
  // span{
  //   width: 25px;
  //   height: 25px;
  //   border-radius: 50%;
  //   border: 3px solid black;
  //   border-top: 3px red solid;
  //   animation: spinner 2000ms ease infinite both;
  // }
}
// @keyframes spinner {
//   from{
//     transform: rotate(0);
//   }
//   50%{
//     transform: rotate(180deg);
//   }
//   100%{
//     transform: rotate(360deg);
//   }
// }
@keyframes dinamicText {
  from{
    width: 0%;
  }
}
.header__busqueda{
  display: flex;
  gap: 20px;
}
.aprediz__filtar{
  display: flex;
  line-height: 28px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  .input {
    width: 300px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    &::placeholder{
        color: #9e9ea7;
    }
  }
  .icon {
    position: absolute;
    right: 17rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
}
button{
  background-color: transparent;
  border: 0;
  svg{
    fill: red;
    transition: all 500ms ease-in;
    &:hover{
      transform: translateX(10px);
    }
  }
}
