<app-header-admin></app-header-admin>

<app-sidebar-admin></app-sidebar-admin>

<section class="container col-lg-8 offset-3">
  <div class="row mt-3">
    <div class="col-12 table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="table-success text-center">
          <tr>
            <th>NOMBRE</th>
            <th>ESTADO</th>
            <th>DESCRIBCION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of data">
              <td>{{ element.name }}</td>
              <td>{{ element.estado }}</td>
              <td>{{ element.descripcion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
