<section class="container form">
  <div class="form__mensaje mb-0" [ngClass]="estilo ? 'alert alert-success' : 'alert alert-danger'" *ngIf="resultado">
    <span>
      {{ mensaje}}
    </span>
  </div>
  <div class="loaders" *ngIf="loaders">
    <app-loaders></app-loaders>
  </div>
  <form>
    <label for="csv">Formato csv</label>
    <input id="csv" type="file" accept=".csv" (change)="onFileSelected($event)" required>
    <button (click)="onSubmit()" type="submit" [disabled]="isUploading">Cargar archivo</button>
  </form>
</section>
