header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  padding: 0 20px;
}

.header__logo {
  h1 {
    font-size: 1.8rem;
    width: 250px;
    line-height: 3.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    animation: dinamicText 2000ms alternate ease-in;
  }
}

@keyframes dinamicText {
  from {
    width: 0%;
  }
}

button {
  background-color: transparent;
  border: 0;

  svg {
    fill: red;
    transition: all 500ms ease-in;

    &:hover {
      transform: translateX(8px);
    }
  }
}

@media screen and (min-width: 600px) {
  .header__logo {
    padding: 0 40px;

    h1 {
      font-size: 2.4rem;
      line-height: 5rem;
      width: 350px;
    }
  }

  .header__salir {
    padding: 0 40px;
  }
}

@media screen and (min-width: 990px) {
  .header__logo {
    padding: 0 60px;

    h1 {
      font-size: 3rem;
      width: 430px;
    }
  }

  .header__salir {
    padding: 0 60px;
  }
}
