<section class="login">
  <div class="section__form">
    <div class="form__text">
      <h2>Sistema de votación institucional</h2>
      <span>Bienvenido. Por favor, ingrese sus credenciales</span>
    </div>
    <form class="login">
      <div class="usuario">
        <label for="usuario">
          Usuario
        </label>
        <input type="text" id="usuario" name="username" placeholder="Numero documento">
      </div>
      <div class="clave">
        <label for="contraseña">
          Contraseña
        </label>
        <input type="password" id="contraseña" name="password" placeholder="Contraseña">
      </div>

      <button routerLink="/aprendiz" type="button">Entrar al sistema</button>
    </form>
  </div>
  <picture class="login">
    <img src="../../../assets/img/logo-sena.png" alt="logo sena">
  </picture>
</section>
