.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
  padding: 0 20px;
  height: 80px;
  display: none;
}

.header__nav {
  height: 100%;

  .header__nav-ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;

    .header__nav-li {
      display: flex;
      gap: 20px;

      span {
        font-size: 1.6rem;
      }
    }
  }
}

.header__section {
  display: flex;
  align-items: center;
  gap: 20px;

  .header__section-img {
    display: flex;
    align-items: center;
    gap: 15px;

    span {
      font-size: 1.6rem;
    }

    button {
      background-color: transparent;
      border: 0;
    }
  }
}
@media screen and (min-width: 780px)  {
  .header {
    display: flex;
  }
}
@media screen and (min-width: 998px)  {
  .header__nav {
    .header__nav-ul {
      .header__nav-li {
        span {
          font-size: 1.8rem;
        }
      }
    }
  }
  .header__section {
    .header__section-img {
      span {
        font-size: 1.8rem;
      }
    }
  }
}
