header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 80px;

 }

.header__logo{
  display: flex;
  align-items: center;
  h1{
    font-size: 30px;
    width: 430px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0.7rem;
    border-right: 3px solid black;
    animation: dinamicText 2000ms alternate ease-in;
  }
}
@keyframes dinamicText {
  from{
    width: 0%;
  }
}
.header__salir{
  display: flex;
  gap: 20px;
}
button{
  background-color: transparent;
  border: 0;
  svg{
    fill: red;
    transition: all 500ms ease-in;
    &:hover{
      transform: translateX(10px);
    }
  }
}
