.header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
  padding-right: 100px;
  padding-top: 25px;
}
.header__nav{
  .header__nav-ul{
    list-style: none;
    display: flex;
    gap: 35px;
    .header__nav-li{
      display: flex;
      align-items: center;
      gap: 20px;
      span{
        font-size: 1.6rem;
      }
    }
  }
}

.header__section{
  display: flex;
  align-items: center;
  gap: 20px;
  .header__section-img{
    display: flex;
    align-items: center;
    gap: 15px;
    span{
      font-size: 1.6rem;
    }
    button{
      background-color: transparent;
      border: 0;
    }
  }
}
